<div>
    <button>  <a routerLink="/product/all-products" >  Back to Top </a></button>
</div>
<!-- Footer -->
<footer class="text-center text-lg-start  text-muted"  >
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 ">
      <!-- Left -->
     
      <!-- Left -->
  
      <!-- Right -->
    
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class=" fw-bold mb-4"style="color: white;">
               <span style="font-weight: 200; font-size: larger;" >Get to Know Us</span>

            </h6>
            <div style="font-style: normal;" >
            <p class="aa">
                About Us
                </p>  
              <p class="aa">
                    Carrers
                </p> 
                  
                <p class="aa">
                    Press Reeases
                </p> 
                 
                 <p class="aa">
                    Amazon Science
                </p> 
                   
                
               
              </div>
            <p style="color: white;">
            
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4" style="color: white;">
            <!-- Links -->
            <h6 class=" fw-bold mb-4" style="color: white;">
             Connect With Us
            </h6>
            <p class="aa">
              
             Facebook
            </p>
            <p class="aa">
                
              Twitter
            </p>
            <p class="aa">
            Instagram
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4" style="color: white;">
            <!-- Links -->
            <h6 class=" fw-bold mb-4">
                Make Money with Us
            </h6>
            <p class="aa">
                <p>
             Sell on Amazon
            </p>
            <p class="aa">
             Sell under Amazon Accelerator
            </p>
            <p class="aa">
             Protect and Build Your Brand
            </p>
            <p class="aa">
              Amazon Global Selling
            </p>
            <p class="aa">
                Become an Affiliate
              </p>
              <p class="aa">
                Fulfilment by Amazon
              </p>
              <p class="aa">
                Advertise Your Products
              </p>
              <p class="aa">
                Amazon Pay on Merchants
              </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4" style="color: white;">
            <!-- Links -->
            <h6 class=" fw-bold mb-4">Let Us Help You</h6>
            <p class="aa"> COVID-19 and Amazon</p>
            <p class="aa">
              Your Account
            </p>
            <p class="aa"> Returns Centre</p>
            <p class="aa"> 100% Purchase Protection</p>
            <p class="aa">Amazon App Download</p>
            <p class="aa">Help</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  </footer>
  <section class="">
    <!-- Footer -->
    <hr>
    <footer class="text-center text-white" style="background-color: rgba(7, 8, 15, 0.87) ">
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: CTA -->
        <section class="">
          <p class="d-flex justify-content-center align-items-center"></p>
        <div style="margin-left: 200px;">
           
            <div class="dropdown-center drop btn-group dropup " style="color: white;"> <span class="me-3"><img width="75px" height="50px" src="https://nickiekrommingahill.com/wp-content/uploads/2020/05/white-amazon-logo-png-6.png" alt=""></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn btn-secondary dropdown-toggle border rounded h-50 p-2 ps-3 pe-3" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;">
                    <img width="20" height="20" style="padding-bottom: 3px;" src="https://icon-library.com/images/white-globe-icon/white-globe-icon-24.jpg" alt=""> <span style="color: white;">English</span>
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Action two</a></li>
                  <li><a class="dropdown-item" href="#">Action three</a></li>
                </ul>
              </div>
            </div>

              
          
        </section>
        <p class="a1"><span class="aa1">Australia </span> <span class="aa1">Brazil</span> <span class="aa1">Cannada</span> <span class="aa1">China</span> <span class="aa1">France</span> <span class="aa1">Germany</span> <span class="aa1">Italy</span><span class="aa1">Japan</span> <span class="aa1">Mexico</span><span class="aa1">Netherland</span><span class="aa1">Poland</span><span class="aa1">Singapore</span><span class="aa1">Spain</span><span class="aa1">Turkey</span><span class="aa1">United Arab Emirates</span><span class="aa1">United Kingdom</span><span class="aa1">United States</span></p>

        <!-- Section: CTA -->
      </div>
      <!-- Grid container -->
  
      <!-- Copyright -->
 
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </section>
  <!-- Footer -->

  <!-- Footer -->
<footer id="footer" class="text-center text-lg-start  text-muted"  >
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 ">
      <!-- Left -->
     
      <!-- Left -->
  
      <!-- Right -->
    
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <p class="aa"  style="font-size: small;"><span class="fw-bold">
                AbeBooks</span><br>
                
                Books, art
                & collectibles
              </p> 
                <p class="aa"  style="font-size: small;"><span class="fw-bold">Shopbop</span><br>
                
                    Designer
                    Fashion Brands
                  </p>
                   
                
               
              
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4" style="color: white;">
            <!-- Links -->
           
            <p class="aa"  style="font-size: small;"><span class="fw-bold">	Amazon Web Services</span><br>
              
                Scalable Cloud
                Computing Services
            </p>
            <p class="aa"  style="font-size: small;"><span class="fw-bold">Amazon Business</span><br>
                
                Everything For
                Your Business
            </p>
           
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4" style="color: white;">
            <!-- Links -->
            <p class="aa" style="font-size: small;"><span class="fw-bold">Audible</span><br>Download
                Audio Books </p>
                <p style="font-size: small;"><span class="fw-bold">Prime Now</span><br>
                    2-Hour Delivery
                    on Everyday Items
            </p>
           
          
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4" style="color: white;">
            <!-- Links -->
           
            <p class="aa" style="font-size: small;"><span class="fw-bold">DPReview</span><br>Digital
                Photography</p>
            <p class="aa" style="font-size: small;"> <span class="fw-bold">Amazon Prime Music</span><br>100 million songs, ad-free
                Over 15 million podcast episodes</p>
           
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section><br>
    <p class="aa text-center">Conditions of Use & Sale
        Privacy Notice
        Interest-Based Adsbr
        <br>
        © 1996-2023, Amazon.com, Inc. or its affiliates</p>
    <!-- Section: Links  -->
  </footer>
