
.card img{
    transition: 1s;
}
.card img:hover{
    transform: scale(1.1);
    transition: .5s;
}
#carousel{
    z-index: -1;
    position: sticky;
}

#img{
    transition: 1s;
}
#img:hover{
    transform: scale(1.1);
    transition: .5s;

}
#section{
 
    background-color: rgba(7, 8, 15, 0.87);
}

