<!-- empty cart -->

<div class="container" *ngif="cartAdd.length==0">
	<div class="row">
	  <div class="col text-center">
		<img src="https://static.wixstatic.com/media/7742ef_dfe620d0354b471b8620fcb2c3a46e62~mv2.gif" alt="">
		<h3>Your Cart is Empty...</h3>
		<button class="btn btn-outline-dark mt-auto"> Shop More</button>
	  </div>
	</div>
  </div>
  
  
  
  <!-- cart with content -->
  
  <div class="container p-5" *ngIf="cartAdd.length!=0">
	<div class="row">
	  <div class="col-6">
		<!-- table -->
		<table class="shadow">
		  <thead>
			<tr class="">
			  <th class="border">No</th>
			  <th class="border">Name</th>
			  <th class="border">Image</th>
			  <th class="border">Quantity</th>
			  <th class="border">Price</th>
			  <th class="border">Action</th>
  
			</tr>
		  </thead>
		  <tbody>
			<tr *ngFor="let item of cartAdd; let i=index">
			  <td class="border">{{i+1}} </td>
			  <td class="border">{{item.title}} </td>
			  <td class="border"><img width="100px" height="100px" [src]="item.image" alt=""></td>
			  <td class="border">
				<div class="d-flex">
				  <button (click)="decrementCarts(item.id)" class="btn ">-</button><input type="text" class="form-control"
					readonly value={{item.quantity}}>
				  <button (click)="incrementCarts(item.id)" class="btn">+</button>
				</div>
			  </td>
			  <td class="border">{{item.price}} </td>
			  <td class="border">
				<a class="btn mt-auto ">
				  <i (click)="cartDelete(item.id)" class="fa-solid fa-trash  fa-shake text-danger"></i> </a>
			  </td>
			</tr>
		  </tbody>
		</table>
	  </div>
  
	  <div class="col-6 card p-5 shadow mt-5 mb-5 ">
  
		<!-- summary -->
		<h3>Price : <span class="text-danger"> ${{totalprice}} </span></h3>
		<h1>Grand Total <span class="text-primary"> $ {{totalprice}} </span> </h1><br><br>
		<!-- checkout button -->
		<div class="text-center">
		  <button class="btn btn-lg btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Check
			Out</button>
		</div>
	  </div>
	</div>
  </div>
  
  
  <!-- modal for check out button -->
  
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
	aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <h1 class="modal-title fs-5" id="staticBackdropLabel"></h1>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="reset()" aria-label="Close"></button>
		</div>
		<div class="modal-body">
  
		  <!-- form -->
  
		  <form [formGroup]="paymentForm" (ngSubmit)="submitPay()" *ngIf="!paymentStatus">
  
			<h4 class="text-center">Fill Out The Place For Purchase</h4>
  
			<!-- Username -->
			<div class="form-floating ">
			  <input name="username" formControlName="username" type="text" class="form-control"
				placeholder="Enter your name">
			  <label>Username</label>
			  <div *ngIf="this.paymentForm.get('username')?.errors && this.paymentForm.get('username')?.touched"
				class="text-danger ">Invalid name</div>
  
			</div><br>
  
			<!-- house number -->
			<div class="form-floating">
			  <input name="houseno" formControlName="houseno" type="text" class="form-control" placeholder="House No.">
			  <label>House No</label>
			  <div *ngIf="this.paymentForm.get('houseno')?.errors && this.paymentForm.get('houseno')?.touched"
				class="text-danger ">Invalid house no</div>
  
			</div><br>
  
			<!-- street name-->
			<div class="form-floating">
			  <input name="streetname" formControlName="streetname" type="text" class="form-control" placeholder="Street">
			  <label>Street Name</label>
			  <div *ngIf="this.paymentForm.get('streetname')?.errors && this.paymentForm.get('streetname')?.touched"
				class="text-danger ">Invalid street name</div>
  
			</div><br>
  
			<!-- state -->
			<div class="form-floating">
			  <input name="state" formControlName="state" type="text" class="form-control" placeholder="State">
			  <label>State</label>
			  <div *ngIf="this.paymentForm.get('state')?.errors && this.paymentForm.get('state')?.touched"
				class="text-danger ">Invalid state</div>
  
			</div><br>
  
			<!-- phone number -->
			<div class="form-floating">
			  <input name="phoneno" formControlName="phoneno" type="text" class="form-control" placeholder="Phone No.">
			  <label>Phone No</label>
			  <div *ngIf="this.paymentForm.get('phoneno')?.errors && this.paymentForm.get('phoneno')?.touched"
				class="text-danger ">Invalid number</div>
			</div><br>
  
			<!-- proceed to pay -->
			<div class="text-center">
			  <button class="btn btn-primary">Proceed To Pay</button>
			</div>
		  </form>
  
		  <!-- adress details  -->
		  <div *ngIf="paymentStatus">
			<h5 class="text-center " style="font-size: xx-large; font-weight: 800;">Delivery Adress Details</h5>
			<p class="text-center">Username : <span class="delivery"> {{username}}</span></p>
			<p class="text-center">House No : <span class="delivery">{{houseno}}</span> </p>
			<p class="text-center">Street Name: <span class="delivery">{{street}} </span> </p>
			<p class="text-center">State : <span class="delivery"> {{state}}</span> </p>
			<p class="text-center">Phone No : <span class="delivery"> {{phoneno}}</span> </p>
  
		  </div>
  
		  <!-- total price  and discount -->
		  <div class="d-flex justify-content-between">
			<h3>Total Price : <span style="color: red; font-weight: 700;">${{totalprice}}</span> </h3>
			<h4 (click)="offerClick()" *ngIf="!discountClick" class="text-success "
			  style="font-weight: 600; cursor: pointer;">Offers : <i class="fa-solid fa-tag "></i> </h4>
		  </div>
  
		  <!-- discount -->
		  <div *ngIf="offerClicked " class="d-flex justify-content-center">
			<!-- 10% discount -->
			<img (click)="discount(10)" *ngIf="totalprice < 500" height="100px" width="100px"
			  src="https://th.bing.com/th/id/OIP.Daq2LOn97UESNI56Gz4eJwHaHa?pid=ImgDet&w=3000&h=3000&rs=1" alt="">
			<!-- 50% discount -->
			<img (click)="discount(50)" *ngIf="totalprice > 1000" height="100px" width="100px"
			  src="https://static1.bigstockphoto.com/1/1/4/large2/411674356.jpg" alt="">
		  </div>
  
		  <!-- make payment -->
  
		  <div *ngIf="discountClick && !showPaypalStatus" class="d-flex justify-content-center">
			<button class=" btn btn-success" (click)="paypalPay()">Make payement</button>
		  </div>
  
		  <div *ngIf="showPaypalStatus">
			<!-- paypal button -->
			<ngx-paypal [config]="payPalConfig"></ngx-paypal>
  
		  </div>
  
  
  
		</div>
	  </div>
	</div>
  </div>